body {
    background-color: rgba(196, 229, 255, 0.555);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.header {
    text-align: center;
}

.nav {
    border: 1px solid black;
    font-size: large;
}
#minha-foto {
    width: 300px;
    border-radius: 25px;
}    
.lado-direito{
    width: 28%;
    text-align: center;

    
}
.lado-esquerdo{
    display: inline-block;
}
.minhas-informacoes {
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color:beige
    
}

#minhas-competencias{
    text-align: center;
    display: inline;
}